.edit-modal__heading {
  text-decoration: underline;
  padding: 0;
  margin: 0;
}

.address-heading {
  font-weight: 700;
}

.buttons-container {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.submit {
  background: antiquewhite;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
}

.submit:hover {
  cursor: pointer;
}

.cancel {
  background: rgb(243, 180, 99);
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
}

.cancel:hover {
  cursor: pointer;
}

.error {
  color: red;
}
