.control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.edit-modal__heading {
  text-decoration: underline;
  padding: 0;
  margin: 0;
}

.control label {
  font-weight: 700;
}

.control input {
  font: inherit;
  width: 70%;
  min-width: 150px;
  padding: 5px;
}

.buttons-container {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.submit {
  background: antiquewhite;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
}

.submit:hover {
  cursor: pointer;
}

.cancel {
  background: rgb(243, 180, 99);
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
}

.cancel:hover {
  cursor: pointer;
}
