.employee {
  margin-bottom: 1em;
}

.employee__heading {
  display: flex;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  background-color: antiquewhite;
}

.employee__heading img {
  margin-left: 20px;
  width: 120px;
}

.employee__heading h3 {
  margin-left: 20px;
  display: inline-block;
}

.employee__details {
  padding-left: 30px;
}

.employee__details p {
  margin: 0;
  padding: 10px 0;
}

.employee__details .labels {
  font-weight: 700;
}
