.employee {
  margin-bottom: 2em;
  max-width: 1400px;
  margin: 20px auto;
}

.employee__heading {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: antiquewhite;
  border-radius: 10px;
  align-items: center;
}

.employee__heading:hover {
  cursor: pointer;
}

.employee__heading__text {
  display: flex;
  align-items: center;
}

.employee__heading img {
  width: 120px;
}

.employee__heading h3 {
  margin-left: 20px;
  display: inline-block;
}

.employee__expand-arrow {
  padding: 10px;
  font-size: 1.2rem;
}

.employee__details {
  padding: 0 30px;
}

.employee__details p {
  margin: 0;
  padding: 10px 0;
}

.employee__details .labels {
  font-weight: 700;
}
